/* General Styles */

:root {
  --step--2: clamp(0.78rem, calc(0.75rem + 0.17vw), 0.88rem);
  --step--1: clamp(0.94rem, calc(0.88rem + 0.28vw), 1.1rem);
  --step-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.22rem + 0.64vw), 1.72rem);
  --step-2: clamp(1.62rem, calc(1.44rem + 0.92vw), 2.15rem);
  --step-3: clamp(1.94rem, calc(1.69rem + 1.29vw), 2.69rem);
  --step-4: clamp(2.33rem, calc(1.98rem + 1.78vw), 3.36rem);
  --step-5: clamp(2.8rem, calc(2.31rem + 2.43vw), 4.2rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url("/trivia-picture.webp") no-repeat center center/ cover;
}

.container {
  height: max(75%, 320px);
  width: max(50%, 300px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.question {
  min-height: 20%;
  width: 90%;
  color: white;
  font-size: var(--step-2);
  margin: 1rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-choices {
  font-size: var(--step-2);
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.answer {
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 0px 5px;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  .answer:hover {
    background-color: lightgreen;
  }
}
